<div class="buy_ticket">
    <div class="buy__ticket-top">
        <!-- <select name="cinema" class="select" ngModel #cinema="ngModel" required  >
            <option [ngValue]="null" [disabled]="true" class="option">Select A Cinema</option>
        </select>
        <select placeholder="Select A Cinema" class="select">
          <option selected>Open this select menu</option>
        </select> 
        <mat-select placeholder="Select Seats" class="select"></mat-select>-->
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Cinema</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select Seats</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
    </div>
    <div class="buy__ticket-bottom">
        <!-- <mat-select placeholder="Select A Date" class="select"></mat-select>
        <mat-select placeholder="Select A Showtime" class="select"></mat-select> -->
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Date</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Showtime</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
    </div>
    <button class="proceed-btn">
        Proceed To Shopping Cart
        <fa-icon [icon]="faCircleChevronRight" class="icon_right" ></fa-icon>
    </button>
</div>
<!-- <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-select-trigger>
        <mat-icon>fastfood</mat-icon>  icon for the select 
        {{food ? food.viewValue : 'No value selected'}}  placeholder for the select 
      </mat-select-trigger>
      <mat-option *ngFor="let food of foods" [value]="food">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
