.buy_ticket{
    max-width: 60%;
    margin: 20px auto 40px auto;
    border-radius: 25px;
    border: 4px solid var(--primary-color-1);
}

.buy__ticket-top, .buy__ticket-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 30px 20px 0 20px;
}

.select{
    min-width: 250px;
    min-height: 40px;
    border-radius: 14px;
    border: 5px solid var(--primary-color-1);
    background: var(--white);
    color: var(--black);
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    appearance: none;
}

/* .select ::placeholder{
    color: var(--black);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
} */

.option{
    color: var(--primary-color-1);
    text-align: center;
    font-size: 1.6rem; 
    line-height: 24px;
    letter-spacing: 0.5px;
    background-color: var(--black);
}

.proceed-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color-1);
    border-radius: 14px;
    border: 2px solid var(--primary-color-1);
    width: 280px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: 40px auto;
    color: var(--black);
}

.icon_right{
    font-size: 3.2rem;
    margin-left: 10px;
}

.icon_down {
    position: absolute;
    font-size: 5rem;
    right: -10px;
    z-index: 1;
    background-color: var(--white);
    color: var(--primary-color-1);
    border-radius: 50%;
    margin: auto;
}
