<div class="buy_ticket">
    <div class="buy__ticket-top">
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Cinema</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select Seats</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
    </div>
    <div class="buy__ticket-bottom">
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Date</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
        <div class="select-wrapper">
          <select class="select">
            <option selected>Select A Showtime</option>
            <option class="option" value="1">One</option>
            <option class="option" value="2">Two</option>
            <option class="option" value="3">Three</option>
          </select>
          <fa-icon [icon]="faCircleChevronDown" class="icon_down" ></fa-icon>
        </div>
    </div>
    <a routerLink="/shopping" class="proceed-btn">
        Proceed To Shopping Cart
        <fa-icon [icon]="faCircleChevronRight" class="icon_right" ></fa-icon>
    </a>
</div>
