<div class="container" [ngClass]="classNames({'film-small':size === 'small','film-big':size === 'big'})">
    <img src="https://i.imgur.com/UaYsusq.jpeg" alt="film_poster" class="film__poster"
        [ngClass]="classNames({'film-small':size === 'small','film-big':size === 'big'})">
    <div class="film-info-container">
        <div>
            <label for="film-title" class="film__title"
                [ngClass]="classNames({'film-small':size === 'small','film-big':size === 'big'})">The Pope`s
                Exorcist</label>
            <label for="type" class="film__type"
                [ngClass]="classNames({'film-small':size === 'small','film-big':size === 'big'})">Horror</label>
        </div>
        <mat-checkbox></mat-checkbox>
    </div>
</div>