<div class="reset-password">
    <app-header></app-header>
    <div class="reset-password__container">
        <div class="reset-password__form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <img src="assets/images/logo_white.png" alt="logo" class="reset-password__form--logo">
                <div class="mb-3">
                    <label class="form-label">New password</label>
                    <div class="mb-3__input">
                        <input type="password" class="form-control" formControlName="password" [ngClass] = "{'is-invalid' : submitted && f['password']?.errors}" placeholder="Password" #passwordInput>
                        <fa-icon [icon]="faEyeSlash" #iconHide1 class="icon_hide" [ngClass]="{'hidden': !isIconHideVisible1}" (click)="handleHide('passwordInput')"></fa-icon>
                        <fa-icon [icon]="faEye" #iconShow1 class="icon_show" [ngClass]="{'hidden': !isIconShowVisible1}" (click)="handleShow('passwordInput')"></fa-icon>
                    </div>
                    <div *ngIf="(f.password?.touched || submitted) && f.password?.errors" class="invalid-feedback">
                        <div *ngIf="f.password?.errors?.['required']">Password is required</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Re-enter the password</label>
                    <div class="mb-3__input">
                        <input type="password" class="form-control" formControlName="confirmPassword" [ngClass] = "{'is-invalid' : submitted && f['confirmPassword']?.errors}" placeholder="Confirm Password" #confirmPasswordInput>
                        <fa-icon [icon]="faEyeSlash" #iconHide2 class="icon_hide" [ngClass]="{'hidden': !isIconHideVisible2}" (click)="handleHide('confirmPasswordInput')"></fa-icon>
                        <fa-icon [icon]="faEye" #iconShow2 class="icon_show" [ngClass]="{'hidden': !isIconShowVisible2}" (click)="handleShow('confirmPasswordInput')"></fa-icon>
                    </div>
                    <div *ngIf="(f.confirmPassword?.touched || submitted) && f.confirmPassword?.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword?.errors?.['required']">Confirm Password is required</div>
                    </div>
                </div>
                <button type="submit" class="reset-password__btn">Reset</button>
            </form> 
        </div>
    </div>
    <app-footer></app-footer>
</div>