.footer{
    position: absolute ;
    width: 100vw;
    height: 180px;
    background-color: var(--primary-color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 1;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.footer__logo{
    margin-left: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 30px;
}
.footer__label{
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.footer__label-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__information, .footer__cinema-system{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.footer__link{
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-around;
    flex-direction: column;
    margin-top: -30px;
}

.footer__link-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.footer__link-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer__title{
    color: var(--primary-color-1);
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 5.32px;
}

.footer__content{
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 200; 
}

.footer__link-img{
    border: 1px solid var(--primary-color-1);
    border-radius: 50%;
    background-color: var(--primary-color-1);
}

.footer__link-img+.footer__link-img{
    margin-left: 10px;
}


