.home{ 
    display: flex;
    flex-direction: column; 
    background-color: var(--black); 
    position: relative;
    left: 0;
    clear: both;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 180px;
}

.home__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__content-film{
    display: flex;
    flex-direction: column;
    margin: auto 40px 40px 40px;
    flex: 0 0 65%;
}

.film-new-releases, .film-coming-soon{
    display: block;
    flex-direction: column;
}

.film-history{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 40px;
}

.film-history .list-film{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.film-history .list-film > * {
    flex-grow: 1; /* Mỗi phần tử con sẽ chiếm một phần bằng nhau của .list-film */
}

.film-history .list-film > .icon-wrapper {
    flex-grow: 0; /* Phần tử icon sẽ không phình to ra */
}

.list-film__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-film-group{
    color: var(--primary-color-1);
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2.2px;
}

.view-more{
    color: var(--white);
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
}


.list-film{
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.home__content-system-cinema{
    display: flex;
    flex-direction: column;
    text-align: left;
    float: left;
    justify-items: left;
    margin-top: -20px;
    flex: 1;
}

.system-cinema__title{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2.2px;
    margin-bottom: 20px;
}

.icon-wrapper{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--white);
    margin: auto;
    transform: translateY(-50%);
    margin-left: 0;
}

.icon-right{
    font-size: 5rem;
    color: var(--primary-color-1);
}