.home{ 
    display: flex;
    flex-direction: column; 
    background-color: var(--black); 
    width: 100vw;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    padding-top: 80px;
    background-color: white;
    justify-content: center;
    height: 1000px;
    margin-bottom: 180px;
}

.home__wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1{
    color: var(--white);
}