<div class="search-page">
    <app-header></app-header>
    <app-slide size="small"></app-slide>
    <div class="container">
        <div class="search-page__content">
            <app-buy-ticket></app-buy-ticket>
            <div class="search-page__content--search-value">
                <span class="search-value">
                    The Pope`s Exorcist
                    <fa-icon [icon]="faX" class="icon"></fa-icon>
                </span>
            </div>
            <div class="search-page__content--search-results">
                <app-film size="big"></app-film>
            </div>
        </div>
        <app-button-support></app-button-support>
    </div>
    <app-footer></app-footer>
</div>