<div [ngClass]="classNames({'cinema-small':size === 'small','cinema-big':size === 'big'})">
    <img src="assets/images/benthanh.png" alt="benthanh" class="cinema__img" [ngClass]="classNames({'cinema-small':size === 'small','cinema-big':size === 'big'})">
    <div class="cinema__infor">
        <label for="cinema__name" class="cinema__infor-name" [ngClass]="classNames({'cinema-small':size === 'small','cinema-big':size === 'big'})">Film ticket Ben Thanh</label>
        <label for="cinema__state" class="cinema__infor-state" [ngClass]="classNames({'cinema-small':size === 'small','cinema-big':size === 'big'})">Available Tickets</label>
        <label for="cinema__address" class="cinema__infor-address" [ngClass]="classNames({'cinema-small':size === 'small','cinema-big':size === 'big'})"> Cho Ben Thanh, Ben Thanh, Quan 1, TP Ho Chi Minh</label>
    </div>
</div>