.cinema-small{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 200px;
}

.cinema-small >.cinema__img{
    width: 80px;
    margin-right: 20px;
}

.cinema-big{
    display: flex;
    align-items: center;
    width: 220px;
    flex-direction: column;
}

.cinema-big >.cinema__img{
    margin-bottom: 20px;
}

.cinema__infor{
    display: flex;
    flex-direction: column;
}

.cinema__infor-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

.cinema__infor-state{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1ED900;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.76px;
}

.cinema__infor-address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.76px;
}