<div class="container">
    <div class="success_message">
        <fa-icon [icon]="faCircleCheck" class="icon_check" ></fa-icon>
        <label class="label-1">JUST BOOKED</label>
        <label class="label-2">Congrats ! You've Got Your Tickets</label>
    </div>
    <div class="thanks_message">
        <label class="label-3">Thank You For Using</label>
        <label class="label-4">FILMTICKET</label>
    </div>
    <div class="ticket"><app-ticket size="big"></app-ticket></div>
    <div class="button">
        <button class="back_home">
            <fa-icon [icon]="faCircleChevronLeft" class="icon_left" ></fa-icon>
            Homepage
        </button>
        <button class="print_ticket">
            Print Ticket
            <fa-icon [icon]="faCircleChevronRight" class="icon_right" ></fa-icon>
        </button>
    </div>
</div>
