.upcoming__wrapper{
    display: flex;
    flex-direction: column; 
    background-color: var(--black); 
    position: relative;
    left: 0;
    clear: both;
}

.container{
    flex:1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 180px;
}

.upcoming{
    display: flex;
    flex-direction: column;
}

.upcoming__content{
    
}   

.list-film{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.list-film::content{

}