<div class="upcoming__wrapper">
    <app-header></app-header>
    <app-slide size="small"></app-slide>
    <div class="container">
        <div class="row">
            <div class="col-lg upcoming">
                <div class="upcoming__content">
                    <app-buy-ticket></app-buy-ticket>
                    <div class="list-film">
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                        <app-film size="big"></app-film>
                    </div>
                    <app-icon-down-custom></app-icon-down-custom>
                </div>
            </div>
        </div>
    <app-button-support></app-button-support>
    </div>
    <app-footer></app-footer>
</div>