<div class="upcoming">
    <app-header></app-header>
    <app-slide size="small"></app-slide>
    <div class="container">
        <div class="upcoming__content">
            <app-buy-ticket></app-buy-ticket>
            <div class="upcoming__nav">
                <a routerLink="/new-releases" class="upcoming__nav--new-releases">New releases</a>
                <a routerLink="/upcoming" class="upcoming__nav--upcoming">Coming soon</a>
            </div>
            <div class="list-film">
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
            </div>
            <app-icon-down-custom></app-icon-down-custom>
        </div>
        <app-button-support></app-button-support>
    </div>
    <app-footer></app-footer>
</div>