.button-wrapper{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--primary-color-1);
    border-radius: 50%;
    border: none;
    margin: auto 40px 20px auto;
    cursor: pointer;
    user-select: none;
}

.button-wrapper img{
    margin-left: 50%;
    transform: translateX(-50%);
}