<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg footer__wrapper">
                <img src="assets/images/logo_white.png" alt="logo" class="footer__logo">
                <div class="footer__label">
                    <div class="footer__label-top">
                        <div class="footer__information">
                            <label for="footer__title" class="footer__title">INFORMATION</label>
                            <label for="footer__content" class="footer__content">Introduction</label>
                            <label for="footer__content" class="footer__content">Contract</label>
                            <label for="footer__content" class="footer__content">News</label>
                            <label for="footer__content" class="footer__content">Thank you</label>     
                        </div>
                        <div class="footer__link">
                            <label for="footer__title" class="footer__title">LINK</label>
                            <div class="footer__link-top">
                                <img src="assets/images/facebook.png" alt="facebook" class="footer__link-img">
                                <img src="assets/images/tiktok.png" alt="tiktok" class="footer__link-img">
                            </div>
                            <div class="footer__link-bottom">
                                <img src="assets/images/youtube.png" alt="youtube" class="footer__link-img">
                            </div>
                        </div>
                        <div class="footer__cinema-system">
                            <label for="footer__title" class="footer__title">CINEMA SYSTEM</label>
                            <label for="footer__content" class="footer__content">Film ticket Ben Thanh</label>
                            <label for="footer__content" class="footer__content">Film ticket Hue</label>
                            <label for="footer__content" class="footer__content">Film ticket Hau Giang</label>
                            <label for="footer__content" class="footer__content">Film ticket Pleiku</label>
                        </div>
                    </div>
                    <label for="footer__content" class="footer__content_2">2023 © FILMTICKET. ALL RIGHTS RESERVED.</label>
                </div>
            </div>
        </div>
    </div>
</div>