.new-release__wrapper{
    display: flex;
    flex-direction: column; 
    background-color: var(--black); 
    position: relative;
    left: 0;
    clear: both;
}

.container{
    flex:1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 180px;
}

.new-release{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.new-release__content{
    
}   

.list-film{
    display: flex;
}