<div class="new-release__wrapper">
    <app-header></app-header>
    <app-slide size="small"></app-slide>
    <div class="container">
        <div class="row">
            <div class="col-lg new-release">
                <div class="new-release__content">
                    <app-buy-ticket></app-buy-ticket>
                    <div class="list-film">
                        <!-- <app-film size="small"></app-film>
                        <app-film size="small"></app-film>
                        <app-film size="small"></app-film>
                        <app-film size="small"></app-film>
                        <app-film size="small"></app-film> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>