<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg header__wrapper">
                <label for="header__title" class="header__title">FILMTICKET</label>
                <div class="header__search">
                    <div class="header__search-icon-wrapper"><fa-icon [icon]="faMagnifyingGlass" class="header__search-icon" [rotate]="90"></fa-icon></div>
                    <input type="text" class="header__search-input" placeholder="Find Movies / Cinemas">
                </div>
                <div class="header__action">
                    <div class="header__action-icon-wrapper"><fa-icon [icon]="faFilm" class="header__action-film" ></fa-icon></div>
                    <div class="header__action-icon-wrapper"><fa-icon [icon]="faCartShopping" class="header__action-cart" flip="horizontal"></fa-icon></div>
                    <img src="assets/images/avatar.png" alt="avatar" class="header__avatar">
                </div>
            </div>
        </div>
    </div>
</div>
