<div class="history">
    <app-header></app-header>
    <app-slide size="small"></app-slide>
    <div class="container">
        <div class="history__content">
            <h2 class="history__content--title">History</h2>
            <div class="list-film">
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
                <app-film size="big"></app-film>
            </div>
            <app-icon-down-custom></app-icon-down-custom>
        </div>
        <app-button-support></app-button-support>
    </div>
    <app-footer></app-footer>
</div>