<div class="film-detail">
    <app-header></app-header>
    <div class="container">
        <div class="film-detail__content">
            <app-buy-ticket></app-buy-ticket>
            <div class="film-detail__content--film" >
                <img class="film-detail__content--image-film" src="assets/images/theFinalTruth.png" alt="film image">
                <div class="film-detail__content--infor-film">
                    <h3 class="film-detail__content-infor-film--title">The Final Truth</h3>
                    <ul class="film-detail__content-infor-film--detail">
                        <li class="film-detail__content-infor-film--show-time">
                            <span  class="film-detail__content-infor-film--title">Show time:</span>
                            <span class="film-detail__content-infor-film--value">30/07/2023</span>
                        </li>
                        <li class="film-detail__content-infor-film--director">
                            <span  class="film-detail__content-infor-film--title">Director:</span> 
                            <span class="film-detail__content-infor-film--value">Mahesh Manjrekar</span>
                        </li>
                        <li class="film-detail__content-infor-film--actor">
                            <span  class="film-detail__content-infor-film--title">Actor:</span>
                            <span class="film-detail__content-infor-film--value">Salman Khan, Aayush Sharma</span>
                        </li>
                        <li class="film-detail__content-infor-film--catelogy">
                            <span  class="film-detail__content-infor-film--title">Catelogy:</span>
                            <span class="film-detail__content-infor-film--value">Action/ Drama</span>
                        </li>
                        <li class="film-detail__content-infor-film--antim">Antim: <span class="film-detail__content-infor-film--value">The Final Truth is a 2021 Indian Hindi-language action film directed by Mahesh Manjrekar and produced by Salman Khan Films.The story revolves around the face-off between a Sikh police officer (Salman Khan) and a gangster (Aayush Sharma), and like the original, it explores the hard conditions faced by farmers that pushes some of them towards crime.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    <app-button-support></app-button-support>
    </div>
    <app-footer></app-footer>
</div>
