.profile{
    transition: 0.15s;
    display: flex;
    flex-direction: column; 
    background-color: var(--black); 
    position: relative;
    left: 0;
    clear: both;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 180px;
}

.profile__content{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 4px solid var(--primary-color-1);
    box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);
    /* align-items: center; */
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.profile__content--top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
    padding: 0 40px;
}

.profile__content--title{
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
}

.avartar--wrapper{
    display: flex;
    position: relative;
}

.profile__content--avatar{
    --size: 100px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    border: none;
}

.icon__wrapper{
    top: 0;
    right: 0;
    display: flex;
    --icon-wrapper-size: 3rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary-color-1);
    width: var(--icon-wrapper-size);
    height: var(--icon-wrapper-size);
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 2rem;
}

.profile__content--middle{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.top{
    display: flex;
    justify-content: flex-start;
}

.input__wrapper1, .input__wrapper2{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input__wrapper1:nth-child(1){
    padding: 0 20px 20px 40px;
}

/* .input__wrapper1:nth-child(2){
    padding: 0 0 20px 0;
} */

.input__wrapper2{
    padding: 0 40px 20px 40px;
}

.middle__label{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.middle__input1, .middle__input2{
    display: flex;
    position: relative;
    border-radius: 25px;
    border: 1px solid var(--primary-color-1);
    background: #FFF;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
}

.middle__input1{
    width: 150px;
}

.middle__input2{
    width: 350px;
}

.middle{
    display: flex;
    flex-direction: column;
}

.profile__content--bottom{
    display: flex;
    justify-content: flex-end;
    margin: auto 40px auto auto;
}

.profile__content--btn{
    display: flex;
    margin: 0 20px 40px auto;
    border-radius: 25px;
    border: none ;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
}

.profile__content--btn:nth-child(1){
    background: var(--primary-color-2);
    color: var(--white);
}

.profile__content--btn:nth-child(2){
    background: var(--primary-color-1);
}
