<div [ngClass]="classNames({'slider=-small':size === 'small','slider-big':size === 'big'})" class="slider" >
    <span class="slider__span">Book Now And Get A 10% Discount</span>
    <div class="images">
        <input type="radio" name="slide" id="img1" checked>
        <input type="radio" name="slide" id="img2">
        <input type="radio" name="slide" id="img3">

        <img src="assets/images/slide1.jpg" class="m1" alt="img1">
        <img src="assets/images/slide2.jpg" class="m2" alt="img2">
        <img src="assets/images/slide3.jpg" class="m3" alt="img3">
    </div>
    <div class="dots">
        <label for="img1"></label>
        <label for="img2"></label>
        <label for="img3"></label>
    </div>
</div>