.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 120px;
}

.slider-big{
    max-height: 360px;
}
.slider-big .slider__span{
    display: none ;
}

.slider-small{
    max-height: 50px;
    width: 100%;
}

.slider-small .dots{
    display: none;
}

.slider-small .images input{
    display: none ;
}

.slider__span{
    position: absolute;
    top: 10px;
    color: var(--white);
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 3.08px;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    width: 100%;
    transition: all 0.15s ease;
    object-fit: cover;
    object-position: center top;
}

.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    position: absolute;
    bottom: 20px;
    margin: auto;
}
.dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid var(--primary-color-1) 3px;
    background-color: var(--primary-color-1);
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    user-select: none;
}
.dots label:hover {
    background-color: var(--white);
}

#img1:checked ~ .m1 {
    margin-left: 0;
}

#img2:checked ~ .m2 {
    margin-left: -100%;
}

#img3:checked ~ .m3 {
    margin-left: -200%;
}

#img4:checked ~ .m4 {
    margin-left: -300%;
}